*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

::-webkit-scrollbar{
  display: none;
}

h1{
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

navbar{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}

button{
  padding: 8px;
  border: none;
  font-size: 16px;
  background: #D6D9FF;
  color: #585B78;
  transition: all 0.2s;
  animation: fadeIn 0.5s;
}

button:hover{
  cursor: pointer;
  background: #AAAFFD;
  transition: all 0.2s;
}

button:disabled{
  background: #F2F3FC;
  color: #838593;
  transition: all 0.2s;
}

@keyframes fadeIn{
  0% { opacity: 0; }
  100%{ opacity: 1;}
}